{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static  'login.css' %}">
{% endblock %}


{% block content %}
<main>
    <section>
        <form action="" method="post">
            {% csrf_token %}
            <label for="uname">Username:</label>
            <input type="text" name="uname" id="uname" placeholder="Enter the username"> 
            <label for="pasw"></label>
            <input type="password" name="password" id="pasw" placeholder="Enter the pasword">
            <button type="submit">Login</button>

        </form>
    </section>
</main>

{% endblock %}