{% load static  %}
<!-- 
<link rel="stylesheet" href="{% static 'nav.css' %}">

   <nav id="nav_blk">
        <aside class="logo_blk">
            <h2>JOB AUTOMATION</h2>
        </aside>
        <aside class="links_blk">
            <ul>
            <li><a href="/">Ai career Asistant</a></li>
            <li><a href="/"> Resume analyzer</a></li>
            <li><a href="/">JOb Tracker </a></li>
            


            </ul>
        </aside>
    </nav> -->
<link rel="stylesheet" href="{% static 'nav.css' %}">
 <nav id="nav_blk">
        <aside class="logo_blk">
            <h2>AI Career Asistant </h2>
        </aside>
        <aside class="links_blk">
            <ul>
            <li><a href="{% url 'resume_analyzer' %}">Analyze Resume</a></li>
            <li><a href="{% url 'job_tracker' %}"> job Tracker </a></li>
            <li><a href="{% url 'login_' %}"> login_</a></li>
            <li><a href="{% url 'profile' %}"> profile</a></li>
            <li> <a href="{% url 'register' %}">register </a></li>
            <li> <a href="{% url 'logout_' %}">Logout</a></li>
            <li><a href="{% url 'contact' %}"> contact</a></li>


            </ul>
        </aside>
    </nav>    